*{
	margin: 0;
	padding: 0;
}
html{
	box-sizing: border-box !important;
}
img, iframe{
	max-width: 100%;
}

a{
	text-decoration: none;
}
@font-face{
	font-family: 'prisma';
	src: url('../fonts/Prisma.eot'), url('../fonts/Prisma.otf'), url('../fonts/Prisma.svg'), url('../fonts/Prisma.ttf'),  url('../fonts/Prisma.woff') ;
}
.primary-bg{
	background-color: #4eba82;
}
.primary-color{
	color: #4eba82;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.container{
	width: 1250px;
	max-width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.border{
	border: 1px solid #000;
}

.logo{
	width: 25%;
}
.nav{
	width: 75%;
}

.nav li{
	display: inline;
	line-height: 50px;

}

.nav li a{
	color: #000;
	padding: 15px 20px;
}

.slider{
	background: url(../images/slider.jpg);
	height: 450px; 
	background-size: cover;
	text-align: center; 
}

.slider h1{
	font-family: 'prisma';
	padding-top: 100px;
	color: #fff;
	font-size: 4em;
	letter-spacing: 14px;
}
.slider p{
	font-family: 'prisma';
	color: #fff;
	font-size: 3em;
}


.col-3{
	width: 33%;
}

.col-3 img{
	width: 100%;
}
.mr-1{
	margin: 0 .5%;
}

.img-head{
	padding: 10px;
}
.major-services{
	margin-top:-50px; 
}

.welcome{
	text-align: center;
	background-color: #efefef;
	padding: 15px 0;
}

.col-4{
	width: 25%;
	padding: 0 .5%;
	box-sizing: border-box;

}

.welcome h2{
	text-transform: uppercase;
	font-size: 2em;
}
.pt-5{ 
	padding-top: 5px;
}
.pb-5{
	padding-bottom: 5px;
}
.btn{
		margin-top: 10px;
}
.btn a{
	padding:5px 10px;
	background-color: #000;
	color: #fff;
	border-radius: 4px; 
}
.current-topic{
	padding: 20px 0;
}
.current-topic h2{

	padding-bottom: 10px;
}


@media (max-width: 990px){
	.nav{
		display: none;
	}
}

@media (max-width: 768px){

	.col-3{
		width: 100%;
	}

	.mr-1{
		margin: 0;
	}

	.col-4{
	width: 99%;
	}

}










